# mainnet-beta | devnet | testnet | localnet
NEXT_PUBLIC_CLUSTER=devnet
NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_API_URL=http://localhost:4004/api/v1

# Printed by `anchor deploy`, and also in Anchor.toml.
NEXT_PUBLIC_PROGRAM_ID=HxRsEhSd2zBMTDDmQsiR4jA1ZGjdQVybjXrwHAedJUDJ
